/*!
Theme Name: Joimo Kombucha
Theme URI: http://underscores.me/
Author: Underscores.me, Mark Hannon
Author URI: https://www.markhannondesign.com
Description: Custom theme built for Joimo Kombucha
Version: 1.13.9
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: joimo-kombucha
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Joimo Kombucha is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
	font-family: 'Cera Pro', sans-serif;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	text-justify: inter-word;
}

.page:not(.home):not(.page-id-59):not(.page-id-3):not(.page-id-739) .content-column .entry-content p,
.bio-col p,
#tab-description p,
.concluding-row p,
.woocommerce-product-details__short-description p,
.brewing-intructions p,
.content-col p {
	font-family: 'Cera Pro', sans-serif;
	font-weight: normal;
	font-style: normal;
	letter-spacing: -.008em;
	line-height: 1.37 !important;
	text-align: justify;
	text-justify: inter-word;
}

body:not(.home) {
	padding-top: 100px;
}

.home {
	padding-top: 18px;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 1.5em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.15em;
}

h3 {
	font-size: 1.0em;
}

h4 {
	font-size: 0.98em;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

* Embedded content==========================================================================*/

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-size: 1rem;
	line-height: 1.5;
}

p {
	margin-bottom: 1.5em;
}

@font-face {
	font-family: 'Noe Display';
	src: url('fonts/NoeDisplay-Regular.woff2') format('woff2'),
		url('fonts/NoeDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noe Display';
	src: url('fonts/NoeDisplay-Medium.woff2') format('woff2'),
		url('fonts/NoeDisplay-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noe Display';
	src: url('fonts/NoeDisplay-Bold.woff2') format('woff2'),
		url('fonts/NoeDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noe Display';
	src: url('fonts/NoeDisplay-Black.woff2') format('woff2'),
		url('fonts/NoeDisplay-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.content-column h1,
.content-column h2,
.content-column h3,
.content-column h4,
.content-column h5,
.content-column p,
.entry-title,
.bio-col h2,
.bio-col h3,
.bio-col h4,
.bio-col h5 {
	font-family: 'Noe Display', serif !important;
	font-style: normal;
	letter-spacing: 1px;
}

.headline-column h3 {
	font-family: 'Noe Display', serif;
}

.content-column h1,
.content-column h2,
.content-column h3,
.content-column h4,
.content-column h5,
.bio-col h2,
.bio-col h3,
.bio-col h4,
.bio-col h5 {
	font-weight: 400;
}

.wp-block-image figcaption {
	text-align: center;
	font-size: .95rem;
}

.entry-content h4 {
	font-size: 1.75rem;
}

.page-id-74 .content-column p {
	font-family: 'Cera Pro', sans-serif !important;
}

/* Elements
--------------------------------------------- */
body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 1.0em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Links
--------------------------------------------- */
a {
	color: #294934 !important;
	text-decoration: underline;
}

a:visited {
	color: #294934;
}

a:hover,
a:focus,
a:active {
	color: #294934 !important;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

.gform_wrapper .top_label .gfield_label,
.gform_wrapper legend.gfield_label {
	font-family: 'Cera Pro', sans-serif;
}

.gform_wrapper .top_label .gfield_label,
.gform_wrapper legend.gfield_label {
	font-family: 'Cera Pro', sans-serif;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

#page {
	top: 12px;
}

.pa-fixed-header {
	top: 0 !important;
	background-color: #fff;
	border-top: 12px solid #fff;
	border-bottom: 12px solid #fff;
}

.custom-logo,
.woocommerce img .custom-logo,
.woocommerce-page img .custom-logo {
	max-width: 108% !important;
	overflow: visible;
	height: auto !important;
}

.home {
	background-image: url('images/Site_Hero_Image9.jpg');
	background-repeat: no-repeat;
	background-position: center -100px;
	background-size: 100% auto;
}

.home .content-column {
	text-align: center;
}

.home .entry-content {
	padding-top: 17vw;
	padding-bottom: 17vw;
}

.home .entry-content h1 {
	margin-bottom: 25px;
}

.home .entry-content p {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: larger
}

.headline-column {
	align-self: center;
}

.headline-column h3 {
	font-style: normal;
	letter-spacing: 1px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
}

.site-footer {
	background-color: #2a4934;
	color: #fff;
	padding-top: 18px;
	padding-bottom: 18px;
}

.home-slider-container {
	background-color: #fff;
	padding: 18px 0;
}

.site-footer .row,
.post-slider,
.site-header {
	max-width: 1140px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.page-id-36 {
	background-color: #ededeb;
}

.content-area {
	margin-bottom: 0 !important;
	background-color: #fff;
	padding-bottom: 12px;
}

.copyright-credit {
	text-align: center;
}

.copyright-credit p,
.post-slider p {
	margin-bottom: 0;
}

.footer-col ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.footer-col ul li {
	margin-bottom: 0;
}

.footer-col ul li:last-of-type {
	margin-bottom: 0;
}

.footer-col ul li a,
.footer-col ul li a:visited {
	color: #fff !important;
}

.footer-col ul li a {
	font-family: 'Cera Pro', sans-serif !important;
}

.clear-this {
	clear: both;
	margin-top: 18px;
	padding-top: 18px;
}

#footer-menu-1,
#footer-menu-2,
#footer-menu-3,
.copyright-credit {
	font-size: 14px;
	line-height: 1.3em;
}

.site-footer .row,
.post-slider,
.site-header,
.skinny {
	max-width: 1140px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.page-id-482 {
	background-image: url(images/Brew_Insructions9.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;

}

.page-id-36 .hero-container {
	background-image: url(images/About_Hero.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.page-id-45 {
	background-image: url(images/About_Tea_Hero_New2.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.page-id-55 {
	background-image: url(images/Teaware_Hero_CROPPED.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.page-id-45 {
	padding-top: 90px !important;
}

.page-id-45 .headline-column h3 {
	color: #fff;
}

.page-id-76 .hero-container {
	background-image: url(images/FAQ_Hero.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.page-id-74 .hero-container {
	background-image: url(images/Contact_Hero.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.page-id-53 {
	background-image: url(images/Our_Tea_Hero.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.hero-column p {
	margin-bottom: 0;
}

.page-id-70 p {
	font-size: 17px;
}

.page-id-43 .entry-title {
	margin-top: 12px;
}

.pum-theme-947 .pum-content,
.pum-theme-lightbox .pum-content {
	font-family: 'Cera Pro', sans-serif;
}

/* Ivory Search popup */

body .is-menu.is-first form {
	right: 0;
	left: auto;
}

body .is-menu.is-first .search-close {
	right: -22px;
	left: auto;
}

h3.ea-header {
	font-family: 'Cera Pro', sans-serif !important;
}

.page-template-page-readability-header .site-main {
	max-width: 80%;
	margin-left: auto !important;
	margin-right: auto !important;
	padding-top: 18px;
}

.postid-299 .site-header {
	max-width: 1160px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.pum-content.popmake-content p {
	font-family: 'Cera Pro', sans-serif;
}

.paoc-popup-modal-cnt h1,
.paoc-popup-modal-cnt h2,
.paoc-popup-modal-cnt h3,
.paoc-popup-modal-cnt h4 {
	font-family: 'Noe Display';
}

.paoc-popup-modal-cnt p,
.paoc-popup-modal-cnt ul,
.paoc-popup-modal-cnt ol .paoc-popup-modal-cnt td {
	font-family: 'Cera Pro';
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Posts */

.single .entry-meta {
	margin: 12px 0;
}

/* Navigation
--------------------------------------------- */
.main-navigation,
.s-support-navigation {
	display: block;
	width: 100%;
	align-self: center;
	margin-top: 8px;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom: 0;
}

.s-support-navigation ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	justify-content: flex-end;
}

.sub-menu a {
	display: block;
	padding-top: 2px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-right: 4px;
	background-color: #ededeb;
}

.home .sub-menu a {
	background-color: #ededeb;
	padding-left: 10px;
}

.main-navigation ul li {
	position: relative;
}

.main-navigation ul ul {
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
	flex-direction: column;
	z-index: 1500;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: auto;
	padding-left: 10px;
	padding-right: 10px !important;
	white-space: nowrap;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a,
.s-support-navigation a,
.menu-item-has-children a {
	display: block;
	text-decoration: none !important;
	font-size: 1.15rem;
	color: #393435 !important;
	padding-right: 18px;
}

.main-navigation a,
.menu-item-has-children a {
	font-family: 'Cera Pro', sans-serif !important;
}

.main-navigation a:visited,
.s-support-navigation a:visited,
.menu-item-has-children a:visited {
	color: #393435;
}

.main-navigation li:last-of-type a,
.s-support-navigation li:last-of-type a {
	padding-right: 0;
}

.home .pa-fixed-header .main-navigation ul li a,
.home .pa-fixed-header .main-navigation ul ul li a {
	display: block;
	background-color: #fff;
}

.home .pa-fixed-header .main-navigation ul ul li a {
	padding-left: 10px;
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {


	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 1.0em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.cat-links {
	margin-right: 12px;
}

/* Posts grid button */

/*.pt-cv-readmore {
    color: #000 !important;
    background-color: transparent !important;
    border: none !important;
}*/

.psac-post-carousel.psac-design-2 .psac-post-carousel-content {
	text-align: left;
	border: none;
}

a.psac-readmorebtn {
	display: block;
	margin: 0 auto;
	border: none;
	text-align: center;
}

.psac-post-categories,
.psac-post-meta,
.psac-slider-and-carousel .owl-dots {
	display: none;
}

.psac-post-short-content {
	font-family: 'Cera Pro', sans-serif;
}

.psac-post-carousel.psac-design-2 .psac-post-title {
	font-family: 'Noe Display', serif;
}

.psac-readmorebtn:hover,
.psac-readmorebtn:focus {
	background: #fff;
}

.column1 {
	padding-right: 22px;
}

.table-compress {
	display: inline-block;
}

.site-main ul li ul {
	margin-left: 0;
	list-style-type: circle;
}

.single .site-main ul,
.single .site-main p {
	font-family: 'cera Pro', sans-serif;
}

.pt-cv-wrapper .btn-success {
	color: #fff !important;
	background-color: #2a4934;
	border-color: #2a4934;
	border-radius: 0;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */

#secondary {
	margin-top: 1.5em;
}

.widget {
	margin: 0 0 1.5em;
}

.widget-select {
	max-width: 100%;
}

.widget-title {
	font-weight: 400;
}

.social-signup p {
	text-align: center;
}

.social-signup .svg-inline--fa {
	color: #fff;
}

.social-signup,
.social-signup .textwidget p {
	margin-bottom: 0
}

.svg-inline--fa {
	font-size: 1.5rem;
}

.social-signup .center-icon {
	display inline-block;
}

.social-signup .wpforms-container-full .wpforms-form .wpforms-field-label {
	display: block;
	font-size: 15px;
	margin-bottom: 12px;
	padding: 0;
	text-align: center;
	font-weight: 400;
}

.social-signup div.wpforms-container-full .wpforms-form button[type=submit] {
	background-color: #d5d5d5;
	border: 1px solid #ddd;
	border-radius: 10px;
	color: #333;
	font-size: 0.875em;
	padding: 5px 7px;
	text-align-last: center;
}

.social-signup .wpforms-container-full .wpforms-form .wpforms-field {
	padding-bottom: 0;
}

.social-signup .wpforms-submit-container {
	text-align-last: center;
}

#wpforms-34-field_1 {
	margin-left: auto;
	margin-right: auto;
	height: 30px;
}

.widget_recent_entries ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 1.5em;
	font-family: 'Cera Pro', sans-serif;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

#wpadminbar a.ab-item {
	color: #eee !important;
}

/*--------------------------------------------------------------
# Woocommerce styles
--------------------------------------------------------------*/

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
	max-width: 100%;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
	max-width: 100%;
}

.woocommerce-input-wrapper {
	display: block !important;
	width: 100% !important;
}

.custom-product-text {
	display: block;
	padding-top: 8px;
}

/* .single-product .comments-area {
    display: none;
} */

.page-id-43 .entry-content h2 {
	font-size: 22px;
}

.strong-text {
	font-weight: 700;
}

.page-id-53 .my-custom-field {
	font-size: smaller;
}

.page-id-53 .my-custom-field a,
page-id-53 .my-custom-field a:visited,
.my-custom-field a:hover,
.my-custom-field a:active {
	color: #000;
}

.woocommerce ul.products li.product a,
.woocommerce ul.products li.product a:visited,
.woocommerce ul.products li.product a:hover,
.woocommerce ul.products li.product a:active {
	color: #2a4934;
}

#tab-description h3,
#tab-description h4,
#tab-description h5 {
	font-family: 'Noe Display'serif;
	font-style: normal;
	letter-spacing: 1px;
}

form.woocommerce-form.woocommerce-form-register.register .required {
	position: relative;
	left: -4px;
}

form.woocommerce-form.woocommerce-form-login.login .woocommerce-button {
	margin-left: 12px;
}

#pwgc-redeem-button {
	background-color: #ededeb;
}

input#pwgc-redeem-button {
	background-color: #2a4834;
	border: none;
}

.page-id-42 .entry-header h1 {
	padding-top: 10px;
}

.woocommerce table.shop_table tbody:first-child tr:first-child th {
	font-weight: 400;
}

.woocommerce-MyAccount-navigation ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 55%;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
	font-family: 'Cera Pro', sans-serif;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background-color: #2a4834;
	color: #fff !important;
}

#pwgc-redeem-gift-card-container label,
.woocommerce div.product .product_title {
	display: none;
}

.single-product .nav-links {
	display: none;
}

.woocommerce-Reviews-title {
    font-family: 'Noe Display', serif;
    font-size: 26px;
}

.woocommerce-noreviews, .woocommerce-verification-required {
    font-family: 'Cera Pro', sans-serif;
}

.woocommerce-verification-required {
    font-size: 13px;
}

.giftwrap_header a {
    display: inline-block;
    background-color: #2a4934;
    color: #fff !important;
    border-radius: 0;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 5px;
}

.ea-body p {
	font-family: 'Cera Pro', sans-serif;
}

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Bootstrap corrections for Safari
--------------------------------------------------------------*/

.row:before,
.row:after {
	display: none;
}

/*--------------------------------------------------------------
# Mobile
--------------------------------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 1080px) {

	.home {
		background-size: 115% auto;
		background-position: center top;
	}

	.home .entry-content {
		padding-top: 20vw;
		padding-bottom: 20vw;
	}

	body:not(.home) {
		padding-top: 100px;
	}
}

@media screen and (min-width: 601px) and (max-width: 768px) {

	.custom-logo {
		max-width: 100%;
	}

	.s-support-navigation ul {
		justify-content: center;
	}

	.home {
		background-size: 150% auto;
		background-position: center top;
	}

	.header-spacer {
		height: 80px !important;
	}

	.home .entry-content {
		padding-top: 9vw;
		padding-bottom: 23vw;
	}

	.page-id-45 .bios-row {
		padding-left: 45px;
		padding-right: 45px;
	}

	.headline-column {
		position: relative;
	}

	.page-id-45 .headline-column h3 {
		position: absolute;
		white-space: nowrap;
		overflow: visible;
		top: 40px;
	}

	.page-id-53 .hero-box {
		position: relative;
	}

	.page-id-53 .headline-column h3 {
		position: absolute;
		white-space: nowrap;
		overflow: visible;
		top: 75px;
	}

	img.lightbox-at {
		width: 100%;
	}

	.search-results {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width: 600px) {

	.home {
		padding-top: 65px;
	}

	body:not(.home) {
		padding-top: 100px;
	}

	.custom-logo {
		max-width: 100%;
	}

	.s-support-navigation ul {
		justify-content: center;
	}

	.home {
		background-image: url(images/Site_Hero_Image_faded.jpg) !important;
		background-size: 185% auto !important;
	}

	.home .entry-content {
		padding-top: 0.1vw;
		padding-bottom: 0.1vw;
	}

	.home .entry-content h1 {
		font-size: 2rem;
	}

	.hero-header h2 {
		margin-bottom: 0;
		padding-top: 8px;
		padding-bottom: 4px;
		font-size: 18px;
	}

	.entry-content h4 {
		font-size: 17px;
	}

	.menu-toggle {
		padding: 0;
		background-image: none;
		background-color: transparent;
		border: none;
		outline: none;
		font-weight: 700;
		color: #626262;
	}

	.main-navigation a {
		padding: 8px;
		text-align: left;
		background-color: #ededeb;
	}

	.main-navigation li:last-of-type a,
	.s-support-navigation li:last-of-type a {
		padding-right: 8px;
	}

	figure.alignright,
	figure.alignleft {
		max-width: 25%;
		height: auto;
	}

	.home {
		background-image: url(images/Site_Hero_Image9.jpg);
		background-repeat: no-repeat;
		background-size: 135% auto;
	}

	.page-id-45 .bios-row {
		padding-left: 0;
		padding-right: 0;
	}

	.headline-column {
		position: relative;
	}

	.page-id-45 .headline-column h3,
	.page-id-53 .hero-box h3 {
		position: absolute;
		top: 0;
	}


	.paoc-popup-modal img.lightbox-at {
		max-width: 100%;
		max-height: auto;
	}

	.search-results {
		padding-left: 20px;
		padding-right: 20px;
	}

	.main-navigation ul ul a {
		white-space: normal;
	}

	.main-navigation,
	.s-support-navigation {
		align-self: start;
		margin-top: 8px;
	}

	.coupon .input-text {
		max-width: 48%;
	}

	figure.alignleft,
	img.alignleft,
	figure.alignright,
	img.alignright {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}